.playButton {
  float: left;
}
.volumeButton {
  float: left;
}
.fullScreen {
  float: right;
}
.videoplayer {
  width: fit-content;
}
.controls {
  width: 100%;
  position: relative;
  bottom: 40px;
}
.controls div {
  padding: 10px;
  display: float;
  color: white;
}
