.videoplayer {
  width: fit-content;
  position: relative;
  background: rgb(22, 22, 22);
  min-height: 80vh;
  min-width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  @mixin common-control-css {
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    cursor: pointer;
    position: relative;
    top: -5px;
  }
  input[type="range"] {
    position: relative;
    left: -3px;
    height: 4px;
    background: #fdfdfd99;
    border-radius: 7px;
  }
  @mixin common-control-css {
    padding: 0px 10px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    cursor: pointer;
    position: relative;
    top: -5px;
  }
  .video {
    position: relative;
  }
  .playForBackIcon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(20, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    opacity: 0.8;
    visibility: hidden;
  }
  .playBackIcon {
    padding-right: 10px;
    margin-right: 60%;
    .Bicon {
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 8px 16px 8px 8px;
      display: inline-block;
      border-color: transparent rgb(211, 207, 207) transparent transparent;
      opacity: 0.5;
      animation-duration: 0.6s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
    }
    .Bicon1 {
      animation-delay: 0.8s;
    }
    .Bicon2 {
      animation-delay: 0.4s;
    }
    .Bicon3 {
      animation-delay: 0s;
    }
  }
  .playForwardIcon {
    padding-left: 10px;
    margin-left: 60%;
    .Ficon {
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 8px 8px 8px 16px;
      display: inline-block;
      border-color: transparent transparent transparent rgb(211, 207, 207);
      animation-duration: 0.6s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
      opacity: 0.5;
    }
    .Ficon1 {
      animation-delay: 0s;
    }
    .Ficon2 {
      animation-delay: 0.4s;
    }
    .Ficon3 {
      animation-delay: 0.8s;
    }
  }
  .bIconAnimate {
    animation-name: animatePlayBackIcon;
    visibility: visible !important;
  }
  .FiconAnimate {
    animation-name: animatePlayForwardIcon;
    visibility: visible !important;
  }
  .volumeIcon {
    position: absolute;
    margin: auto;
    color: rgb(255, 255, 255);
    height: 10%;
    width: 10%;
    bottom: 50%;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    div {
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      animation-direction: linear;
      animation-timing-function: ease-in;
      font-size: 0px;
    }
  }
  .playPause {
    position: absolute;
    margin: auto;
    color: rgb(255, 255, 255);
    height: 10%;
    width: 10%;
    bottom: 50%;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      animation-direction: linear;
      animation-timing-function: ease-in;
      font-size: 0px;
    }
  }
  .controls {
    height: auto;
    position: absolute;
    bottom: 10px;
    transition: all 0.1s ease;
    z-index: 2;
    width: 100%;
    div {
      color: white;
    }
    .gradient {
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 1)
      );
      position: absolute;
      top: -95px;
      z-index: -1;
    }
    .playButton {
      @include common-control-css;
      float: left;
      top: -1px;
      border-color: transparent transparent transparent white;
      cursor: pointer;
      will-change: border-width;
      transition: all 0.3s ease;
      box-sizing: border-box;
      height: 20px;
      margin-left: 25px;
    }
    .play {
      border-style: solid;
      border-width: 10px 0 10px 16px;
    }
    .pause {
      border-style: double;
      border-width: 0px 0 0px 18px;
    }
    .volumeButton {
      @include common-control-css;
      float: left;
      z-index: 4;
      width: 20px;
    }
    .volumeSlider {
      @include common-control-css;
      opacity: 0;
      width: 0px;
      height: 0px;
      float: left;
      transition: all 0.2s;
      position: relative;
      left: -10px;

      &:hover {
        visibility: visible;
        opacity: 1;
        width: 80px;
        height: auto;
      }

      input {
        cursor: pointer;
        margin-left: 10px;
      }
    }
    .timer {
      @include common-control-css;
      font-size: 15px;
      float: left;
      font-family: Arial, Helvetica, sans-serif;
      top: 1px;
      left: -5px;
    }
    .volumeButton:hover ~ .volumeSlider {
      visibility: visible;
      opacity: 1;
      width: 80px;
      height: auto;
    }
    .volButton:hover .volumeSlider {
      display: inline-block !important;
      width: 10px;
      height: 10px;
    }
    .fullScreen {
      @include common-control-css;
      float: right;
      padding-right: 20px;
      &:hover {
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
  }
  .hidden {
    display: none;
  }
}

.videoplayer:hover .hidden {
  display: inline-block;
}
.volumeButtonAnime {
  animation-name: playButtonAnime;
}

@keyframes animatePlayForwardIcon {
  0% {
    opacity: 0.5;
    border-color: transparent transparent transparent rgb(211, 207, 207);
  }
  50% {
    opacity: 1;
    border-color: transparent transparent transparent white;
  }
  100% {
    opacity: 0.7;
    border-color: transparent transparent transparent white;
  }
}

@keyframes animatePlayBackIcon {
  0% {
    opacity: 0.5;
    border-color: transparent rgb(211, 207, 207) transparent transparent;
  }
  50% {
    opacity: 1;
    border-color: transparent white transparent transparent;
  }
  100% {
    opacity: 0.7;
    border-color: transparent white transparent transparent;
  }
}

@keyframes playBoxAnime {
  0% {
    height: 60px;
    width: 60px;
    visibility: visible;
    opacity: 1;
  }
  50% {
    height: 70px;
    width: 70px;
    visibility: visible;
    opacity: 0.7;
  }
  100% {
    height: 80px;
    width: 80px;
    opacity: 0;
    visibility: visible;
  }
}
@keyframes playButtonAnime {
  0% {
    visibility: visible;
    font-size: 35px;
    opacity: 1;
  }
  50% {
    visibility: visible;
    font-size: 45px;
    opacity: 0.7;
  }
  100% {
    visibility: visible;
    font-size: 55px;
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

//volume slider
.range2 {
  -webkit-appearance: none;
  background: linear-gradient(
    to right,
    white 0%,
    white 50%,
    #444 55%,
    #444 60%,
    #444 62.5%,
    #444 100%
  );
  height: 3px;
  top: -8px;
  position: relative;
  transition: 0.1s ease-in;
  width: 80px;
}
.range2::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--SliderColor);
  border-radius: 8px;
  box-shadow: inset 0 0 0 5px white;
  height: 12px;
  transition: 0.1s ease-in;
  width: 12px;
}
.loaded .range2,
.loaded .range2::-webkit-slider-thumb {
  transition: 0.1s ease-in;
}
:focus {
  outline: none;
}

//video seeker
.range {
  -webkit-appearance: none;
  cursor: pointer;
  height: 3px;
  position: relative;
  bottom: 20px;
  margin-left: 10px;
  transition: 0.1s ease-in;
  vertical-align: bottom;
  width: 97%;
}
.videoSeeker:hover .range,
.videoSeeker.hover .range {
  height: 5px;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--SliderColor);
  border-radius: 8px;
  box-shadow: inset 0 0 0 5px var(--SliderColor);
  height: 0;
  transition: 0.1s ease-in;
  width: 0;
}
.videoSeeker:hover .range::-webkit-slider-thumb,
.videoSeeker.hover .range::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
}

.loaded .range,
.loaded .range::-webkit-slider-thumb {
  transition: 0.1s ease-in;
}

:focus {
  outline: none;
}

.error {
  display: inline-block;
  position: absolute;
  top: 18px;
}
.timer {
  top: 1px;
}

//media queries

@media only screen and (max-width: 885px) {
  .error {
    font-size: 10px;
    position: absolute;
    top: 23px;
  }
  .playButton {
    padding: 0;
    margin-left: 10px;
  }
  .volumeButton {
    padding-left: 5px;
  }
  .timer {
    padding: 0;
    font-size: 12px;
    top: 2px;
  }
  .fullScreen {
    padding: 0;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .video {
    width: 100%;
  }
}
